body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color:hsl(220deg 100% 80%);
  color: #001f3f;
}
a{
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
